<%- include('../partials/header') %>
<div class="container">
    <h1>Editando de Pessoa</h1>
    <form method="POST">
        <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Pedro" value="<%= pessoa.nome %>">
    </div>
        <div class="form-group">
        <label for="nascimento">Nascimento</label>
        <input type="text" class="form-control" id="nascimento" name="nascimento" placeholder="Ano-Mês-Dia" value="<%= pessoa.nascimento %>">
        </div>
        <div class="form-group">
            <label for="cargo">Cargo</label>
            <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Developer" value="<%= pessoa.cargo %>">
        </div>    
        <button type="submit" class="btn btn-primary">Editar</button>
    </form>
</div>
<%- include('../partials/footer') %>